/dist
.cache/
/target
**/*.rs.bk
Cargo.lock

#environment files
*.env

#node
node_modules

__pycache__/
*.pyc

# rust
debug/
release/
*.rlib
*.prof*
*.log
.env*

# editor and OS files
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
